<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myimgui">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:label="ImGui"
        android:hasCode="true">
        <activity android:name="android.app.NativeActivity"
            android:exported="true">
            <meta-data android:name="android.app.lib_name"
                android:value="myimgui" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
